body{
  --color-primary: #409eff;
  --color-white: #fff;
  --color-black: #000;
  --color-primary-light-0: #3a8ee6;
  --color-primary-light-1: #53a8ff;
  --color-primary-light-2: #66b1ff;
  --color-primary-light-3: #79bbff;
  --color-primary-light-4: #8cc5ff;
  --color-primary-light-5: #a0cfff;
  --color-primary-light-6: #b3d8ff;
  --color-primary-light-7: #c6e2ff;
  --color-primary-light-8: #d9ecff;
  --color-primary-light-9: #ecf5ff;
  --color-success: #67c23a;
  --color-success-light: #e1f3d8;
  --color-success-lighter: #f0f9eb;
  --color-warning: #e6a23c;
  --color-warning-light: #faecd8;
  --color-warning-lighter: #fdf6ec;
  --color-danger: #f56c6c;
  --color-danger-light: #fde2e2;
  --color-danger-lighter: #fef0f0;
  --color-error: #f56c6c;
  --color-error-light: #fde2e2;
  --color-error-lighter: #fef0f0;
  --color-info: #909399;
  --color-info-light: #e9e9eb;
  --color-info-lighter: #f4f4f5;
  --color-overlay: rgba(0,0,0,.5);
  --text-color-primary: #303133;
  --text-color-regular: #606266;
  --text-color-secondary: #909399;
  --text-color-placeholder: #c0c4cc;
  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-light: #f2f6fc;
  --background-color-base: #f5f7fa;
  --border-width-base: 1px;
  --border-style-base: solid;
  --border-color-hover: var(--text-color-placeholder);
  --border-base: var(--border-width-base) var(--border-style-base) var(--border-color-base);
  --border-radius-base: 4px;
  --border-radius-small: 2px;
  --border-radius-round: 20px;
  --border-radius-circle: 100%;
  --box-shadow-base: 0 2px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
  --box-shadow-light: 0 2px 12px 0 rgba(0,0,0,0.1);
  --dialog-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  --svg-monochrome-grey: #dcdde0;
  --fill-base: var(--color-white);
  --font-size-extra-large: 20px;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-base: 14px;
  --font-size-small: 13px;
  --font-size-extra-small: 12px;
  --font-weight-primary: 500;
  --font-line-height-primary: 24px;
  --font-color-disabled-base: #bbb;
  --index-normal: 1;
  --index-top: 1000;
  --index-popper: 2000;
  --disabled-fill-base: var(--background-color-base);
  --disabled-color-base: var(--text-color-placeholder);
  --disabled-border-base: var(--border-color-light);
  --transition-duration: 0.3s;
  --transition-duration-fast: 0.2s;
  --ease-in-out-bezier-function: cubic-bezier(0.645,0.045,0.355,1);
  --fast-bezier-transition: cubic-bezier(0.23,1,0.32,1);
  --all-transition: all var(--transition-duration) var(--ease-in-out-bezier-function);
  --fade-transition: opacity var(--transition-duration) var(--fast-bezier-transition);
  --md-fade-transition: transform var(--transition-duration) var(--fast-bezier-transition),opacity var(--transition-duration) var(--fast-bezier-transition);
  --fade-linear-transition: opacity var(--transition-duration-fast) linear;
  --border-transition-base: border-color var(--transition-duration-fast) var(--ease-in-out-bezier-function);
  --color-transition-base: color var(--transition-duration-fast) var(--ease-in-out-bezier-function);

  --table-border-color: var(--border-color-lighter);
  --table-border: 1px solid var(--table-border-color);
  --table-font-color: var(--text-color-regular);
  --table-header-font-color: var(--text-color-secondary);
  --table-row-hover-background-color: var(--background-color-base);
  --table-current-row-background-color: var(--color-primary-light-9);
  --table-header-background-color: var(--color-white);
  --table-fixed-box-shadow: 0 0 10px rgba(0,0,0,0.12);
}